@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
}

body {
    background-color: black;


}

#c {
    position: fixed;
    top: 0;
    left: 0;
}
.container {
    background-color: rgba(0, 0, 0, 0.671);
    margin: 50px 10%;
    padding: 3rem;
    position: relative;
    z-index: 1;
}


.sec-1 {

    background-color: rgba(0, 0, 0, 0.671);
}

p{
    font-size: 22px;
 }

li{
    font-size: 22px;
}