@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    
}

*::-webkit-scrollbar{
    display: none;
}
body {
    background-color: black;


}

#c {
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.671);
    margin: 50px 10%;
    padding: 3rem;
    position: relative;
    z-index: 1;
    border: 0.1px solid rgba(23, 222, 20, 0.5);
}


.sec-1 {
    background-color: rgba(0, 0, 0, 0.671);
}

.sec-1 p span {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}


p {
    font-size: 20px;
    padding-top: 5px;
}

h1 {
    margin: 15px 0px;
}

h2 {
    margin: 5px 0px;
}


li {
    font-size: 22px;
}

ul{
    padding: 15px;
}

.macterminal{

   padding-top: 10px;
   text-align: center;
   width: 550px;
   height: 300px; 
}

.macterminal img{
   display:flexbox;
   width: 100%;
}

#BoxImg{
   align-items: center;
   text-align: center;
}

.pMac{
    padding-top: 10px;
    text-align: justify;
}

.Jorge { padding-top: 10px;
}